@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Audiowide&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "normalize";
@import "variables";
@import "mixins";
@import "global";
@import "media";
@import "Blocks/footer";
@import "Blocks/header";
@import "Blocks/popupDialog";
main{
	overflow-x: hidden;
}
main .section__header {
  width: 100%;
  height: 44.5rem;
  background: #000 url("../images/svg/bg_fon.svg") 50% 0% repeat;
  @include flex-center;
  margin-top: 8rem;
  &_container {
    max-width: $width-desktop;
    @include flex-center;
    flex-direction: column;
  }
  &_container h1 {
    text-align: center;
  }
  &_container a.button {
    @include button(auto, inherit, 15px 80px, var(--cc-bolt));
    margin-top: 6rem;
    @include text(
      var(--font-audiowide),
      1.4rem,
      300,
      uppercase,
      var(--cc-white)
    );
    transition: 0.5s;
  }
  &_container a.button:hover {
    filter: drop-shadow(0px 0px 10px rgba(182, 32, 224, 0.7));
  }
}
.section__social-in {
  width: 100%;
  height: 120px;
  background: var(--cc-color-violet);
  @include flex-center;
  &_container {
    max-width: $width-desktop;
    @include flex-center;
    gap: 80px;
    padding: 0 20px;
  }
}
.section__content-01 {
  width: 100%;
  @include flex-center;
  flex-direction: column;
  &_container {
    max-width: $width-desktop;
    @include flex-center;
    align-items: flex-start;
    padding: 80px 20px;
    gap: 130px;
    .social_bg {
      padding: 10px;
      background: #000;
      border-radius: 160px;
      margin: 20px 0 45px 0;
	  position: relative;
    }
    .social_bg:before {
      content: "";
      position: absolute;
      width: 350px;
      height: 350px;
      border-radius: 350px;
      background: var(--cc-bolt);
      filter: blur(200px);
      z-index: -100;
    }
    .social_bg:after {
      content: "";
      position: absolute;
      margin-left: -30.3rem;
      margin-top: -1.1rem;
      width: 31rem;
      height: 30.6rem;
      background: var(--cc-gradient);
      padding: 0.2rem;
      z-index: -1;
      border-radius: 16rem;
      filter: drop-shadow(0px 11px 4px rgba(0, 0, 0, 0.4));
    }
    .social_bg img {
      width: 29.2rem;
      height: 28.7rem;
    }
    p {
      line-height: 3.2rem;
    }
    h2 {
      text-align: left;
      margin-bottom: 30px;
    }
    .wrapper:first-child {
      @include flex-column-center;
    }
    .amount {
      @include text(var(--font-inter), 4.4rem, 500, none, auto);
    }
  }
}
.section__content-02 {
  width: 100%;
  @include flex-center;
  flex-direction: column;
  &_container {
    max-width: $width-desktop;
    @include flex-center;
    align-items: flex-start;
    padding: 0px 20px;
    gap: 80px;
  }
  &_container .wrapper .wrapper_inner {
    @include flex-left;
  }
  &_container .wrapper .wrapper_inner .coin {
    margin-right: 30px;
    background: #000;
    padding: 10px;
    border-radius: 80px;
  }
  &_container .wrapper .wrapper_inner .coin:before {
    content: "";
    position: absolute;
    margin-left: -11px;
    margin-top: -12px;
    width: 95px;
    height: 91px;
    background: var(--cc-gradient);
    padding: 2px;
    z-index: -10;
    border-radius: 160px;
    filter: drop-shadow(0px 11px 4px rgba(0, 0, 0, 0.4));
  }
  p.subheader {
    @include text(
      var(--font-inter),
      1.4rem,
      300,
      uppercase,
      var(--cc-color-gray-400)
    );
    margin-top: 40px;
  }
  .table {
    width: auto;
    height: auto;
    background: var(--cc-color-gray-900);
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    .tbody,
    .thead {
      position: relative;
    }
    .row {
      min-width: 520px;
      display: flex;
      flex-direction: row;
      padding: 1px;
      position: relative;
      z-index: 10;
    }
    .tbody .row:nth-child(1) {
      background: var(--cc-bolt);
      cursor: pointer;
    }
    .tbody .row .cell:nth-child(2) {
      border-left: 1px solid var(--cc-color-gray-900);
      border-right: 1px solid var(--cc-color-gray-900);
    }
    .tbody .row:nth-child(1) .cell:nth-child(1),
    .tbody .row:nth-child(1) .cell:nth-child(3) {
      color: var(--cc-color-primary);
    }
    .cell {
      justify-content: center;
      background: var(--cc-color-ink-darkest);
      height: 50px;
      align-items: center;
    }
    .cell:nth-child(1) {
      display: flex;
      width: 40%;
    }
    .cell:nth-child(2) {
      display: flex;
      width: 30%;
    }
    .cell:nth-child(3) {
      display: flex;
      width: 30%;
      @include text(
        var(--font-inter),
        2.2rem,
        800,
        none,
        var(--cc-color-gray-300)
      );
    }
    .thead .row:nth-child(1) .cell:nth-child(1) {
      justify-content: flex-start;
      background: none;
      @include text(
        var(--font-inter),
        1.4rem,
        300,
        none,
        var(--cc-color-gray-300)
      );
      height: 20px;
    }
    .thead .row:nth-child(1) .cell:nth-child(2) {
      justify-content: center;
      background: none;
      @include text(
        var(--font-inter),
        1.4rem,
        300,
        none,
        var(--cc-color-gray-300)
      );
      height: 20px;
    }
    .thead .row:nth-child(1) .cell:nth-child(3) {
      justify-content: flex-end;
      background: none;
      @include text(
        var(--font-inter),
        1.4rem,
        300,
        none,
        var(--cc-color-gray-300)
      );
      height: 20px;
    }
  }
}
.section__content-03 {
  width: 100%;
  @include flex-center;
  margin: 80px 0;
  &_container {
    max-width: $width-desktop;
    @include flex-center;
    flex-direction: column;
    padding: 0px 20px;
    gap: 20px;
  }
  &_container .wrapper .wrapper_inner {
    @include flex-left;
  }
  .table:before {
    content: "";
    position: absolute;
    width: 350px;
    height: 350px;
    border-radius: 350px;
    background: var(--cc-bolt);
    filter: blur(200px);
    z-index: -100;
    right: 20%;
  }
  .table {
    width: auto;
    height: auto;
    background: var(--cc-color-gray-900);
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    overflow-x: auto;
    .tbody,
    .thead {
      position: relative;
    }

    .row {
      width: 1260px;
      display: flex;
      flex-direction: row;
      position: relative;
      z-index: 10;
    }

    .cell:not(:nth-child(8)) {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .cell {
      display: table-cell;
      align-content: center;
      background: var(--cc-color-ink-darkest);
      height: 50px;
      width: 100%;
      @include text(
        var(--font-inter),
        1.4rem,
        300,
        none,
        var(--cc-color-gray-300)
      );
      text-align: center;
    }
    .thead .cell {
      background: none;
    }
    .tbody .cell {
      border: 1px solid var(--cc-color-gray-900);
    }
    .cell:nth-child(8) {
      width: 45px;
      background: none;
      padding: 0 20px;
      border: 0;
    }
    .tbody .cell:nth-child(9),
    .tbody .cell:nth-child(10),
    .tbody .cell:nth-child(11) {
      background: #192a36;
    }
    span.arrow {
      display: block;
      width: 28px;
      height: 8px;
      background: url("../images/svg/arrow.svg") no-repeat;
      position: absolute;
      margin-left: 100px;
      margin-top: -15px;
    }
    .thead h6 {
      position: absolute;
      left: 100%;
      margin-left: -400px;
      margin-top: 5px;
    }
    .thead .cell:nth-child(9),
    .thead .cell:nth-child(10),
    .thead .cell:nth-child(11),
    .thead .cell:nth-child(12),
    .thead .cell:nth-child(13) {
      padding-top: 10px;
    }
    .tbody:before {
      content: "";
      position: absolute;
      width: 442px;
      height: 415px;
      background: var(--cc-bolt);
      top: 0;
      margin-left: 819px;
      margin-top: -1px;
    }
  }
}
.section__content-04 {
  width: 100%;
  @include flex-center;
  background: url(../images/svg/bg_footer.svg) 0 100% repeat-x;
  background-size: 200px;
  padding-bottom: 200px;
  &_container {
    max-width: $width-desktop;
    @include flex-center;
    flex-direction: column;
    padding: 0px 20px;
    gap: 20px;
  }
  &_container .wrapper {
    @include flex-center;
    gap: 20px;
  }
  .button_content_gray {
    @include button(auto, inherit, 10px 100px, var(--cc-color-gray-500));
    @include text(
      var(--font-audiowide),
      1.4rem,
      300,
      uppercase,
      var(--cc-color-ink-darkest)
    );
  }
  .button_content_primary {
    @include button(auto, inherit, 10px 100px, var(--cc-color-primary));
    @include text(
      var(--font-audiowide),
      1.4rem,
      300,
      uppercase,
      var(--cc-color-ink-darkest)
    );
  }
}
.aside__bottom {
  width: 100%;
  @include flex-center;
  margin: 80px 0 30px 0;
  &_container {
    width: $width-desktop;
    background: var(--cc-color-gray-900);
    border-radius: 3rem;
    padding: 3.3rem;
    margin: 0 30px;
  }
  .wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 4fr;
    gap: 30px;
  }
  .wrapper h4 {
    margin-bottom: 20px;
  }
  .aside_menu li {
    @include text(
      var(--font-inter),
      1.4rem,
      300,
      none,
      var(--cc-color-gray-400)
    );
    margin: 10px 0;
  }
  .aside_menu a:hover {
    color: var(--cc-white);
  }
  .asside_subscribe {
    margin-left: 70px;
  }
  .asside_subscribe p {
    @include text(var(--font-inter), 1.4rem, 300, none, var(--cc-white));
  }
  .asside_subscribe h4 {
    color: var(--cc-color-primary);
    margin-bottom: 15px;
  }
  form {
    margin-top: 30px;
    display: flex;
    gap: 20px;
  }
  button {
    @include button(auto, inherit, 10px 30px, var(--cc-color-primary));
    @include text(
      var(--font-audiowide),
      1.4rem,
      300,
      uppercase,
      var(--cc-color-ink-darkest)
    );
    align-self: center;
    transition: 0.3s;
  }
  button:hover {
    filter: drop-shadow(0px 0px 10px rgba(0, 255, 163, 0.3));
  }
  input {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    flex: 1;
    background: transparent;
    border: 1px solid var(--cc-color-primary);
    padding: 0 20px;
    @include text(
      var(--font-inter),
      1.4rem,
      300,
      none,
      var(--cc-color-gray-500)
    );
  }
}


