.root {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	column-gap: 48px;
}

.title {
	color: var(--cc-color-yellow);
	font-family: var(--cc-font-atmospheric), sans-serif;
	font-size: 12px;
	line-height: 48px;
	user-select: none;
}

.slider {
	max-width: 848px;
	width: 100%;
	height: 100%;
}

.button {
	cursor: pointer;
	&.prev {
		transform: rotate(180deg);
	}
}
